@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f4ce;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8e8875;
    --foreground: #f0de85;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
